[Unit]
Description=MIDI Pipes Bluetooth
After=bluetooth.target sound.target multi-user.target
Requires=bluetooth.target sound.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/{MIDIPI_USER}
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=btmidi
Restart=always
ExecStart=/usr/bin/btmidi-server -n "MIDI Pipes Bluetooth"

[Install]
WantedBy=multi-user.target
